In [54]:
import pickle
with open ('outfile', 'rb') as fp:
    mylist2 = pickle.load(fp)

In [55]:
mylist2

[array([2013, 1, 1, 'Argentina', 34346025.0], dtype=object),
 array([2013, 2, 1, 'Argentina', 32005575.0], dtype=object),
 array([2013, 3, 1, 'Argentina', 32530050.0], dtype=object),
 array([2013, 4, 1, 'Argentina', 35588700.0], dtype=object),
 array([2013, 5, 1, 'Argentina', 38789100.0], dtype=object),
 array([2013, 6, 1, 'Argentina', 36196650.0], dtype=object),
 array([2013, 7, 1, 'Argentina', 37133775.0], dtype=object),
 array([2013, 8, 1, 'Argentina', 35311500.0], dtype=object),
 array([2013, 9, 1, 'Argentina', 38437875.0], dtype=object),
 array([2013, 10, 1, 'Argentina', 44397675.0], dtype=object),
 array([2013, 11, 1, 'Argentina', 45525375.0], dtype=object),
 array([2013, 12, 1, 'Argentina', 33610500.0], dtype=object),
 array([2014, 1, 1, 'Argentina', 44600850.0], dtype=object),
 array([2014, 2, 1, 'Argentina', 41562675.0], dtype=object),
 array([2014, 3, 1, 'Argentina', 36957375.0], dtype=object),
 array([2014, 4, 1, 'Argentina', 43447950.0], dtype=object),
 array([2014, 5, 1, 'Argentina', 40863375.0], dtype=object),
 array([2014, 6, 1, 'Argentina', 40376700.0], dtype=object),
 array([2014, 7, 1, 'Argentina', 43458975.0], dtype=object),
 array([2014, 8, 1, 'Argentina', 41302800.0], dtype=object),
 array([2014, 9, 1, 'Argentina', 43783425.0], dtype=object),
 array([2014, 10, 1, 'Argentina', 43777125.0], dtype=object),
 array([2014, 11, 1, 'Argentina', 42375375.0], dtype=object),
 array([2014, 12, 1, 'Argentina', 44243325.0], dtype=object),
 array([2015, 1, 1, 'Argentina', 46580625.0], dtype=object),
 array([2015, 2, 1, 'Argentina', 33068700.0], dtype=object),
 array([2015, 3, 1, 'Argentina', 37864575.0], dtype=object),
 array([2015, 4, 1, 'Argentina', 35136675.0], dtype=object),
 array([2015, 5, 1, 'Argentina', 35565075.0], dtype=object),
 array([2015, 6, 1, 'Argentina', 41756400.0], dtype=object),
 array([2015, 7, 1, 'Argentina', 33115950.0], dtype=object),
 array([2015, 8, 1, 'Argentina', 23892750.0], dtype=object),
 array([2015, 9, 1, 'Argentina', 24914925.0], dtype=object),
 array([2015, 10, 1, 'Argentina', 16380000.0], dtype=object),
 array([2015, 11, 1, 'Argentina', 14762475.0], dtype=object),
 array([2015, 12, 1, 'Argentina', 15003450.0], dtype=object),
 array([2016, 1, 1, 'Argentina', 14740425.0], dtype=object),
 array([2016, 2, 1, 'Argentina', 11214000.0], dtype=object),
 array([2016, 3, 1, 'Argentina', 15016050.0], dtype=object),
 array([2013, 1, 2, 'Argentina', 2751851.4800000004], dtype=object),
 array([2013, 2, 2, 'Argentina', 2804313.1199999996], dtype=object),
 array([2013, 3, 2, 'Argentina', 2573004.9800000004], dtype=object),
 array([2013, 4, 2, 'Argentina', 3436237.4199999995], dtype=object),
 array([2013, 5, 2, 'Argentina', 3772468.84], dtype=object),
 array([2013, 6, 2, 'Argentina', 3712853.34], dtype=object),
 array([2013, 7, 2, 'Argentina', 3791545.8000000007], dtype=object),
 array([2013, 8, 2, 'Argentina', 3698545.6199999996], dtype=object),
 array([2013, 9, 2, 'Argentina', 3979930.7800000003], dtype=object),
 array([2013, 10, 2, 'Argentina', 4514085.66], dtype=object),
 array([2013, 11, 2, 'Argentina', 5258087.1], dtype=object),
 array([2013, 12, 2, 'Argentina', 4010930.84], dtype=object),
 array([2014, 1, 2, 'Argentina', 4821701.639999999], dtype=object),
 array([2014, 2, 2, 'Argentina', 4044315.52], dtype=object),
 array([2014, 3, 2, 'Argentina', 4945701.88], dtype=object),
 array([2014, 4, 2, 'Argentina', 5067317.499999999], dtype=object),
 array([2014, 5, 2, 'Argentina', 5792241.9799999995], dtype=object),
 array([2014, 6, 2, 'Argentina', 5947242.279999999], dtype=object),
 array([2014, 7, 2, 'Argentina', 5594318.52], dtype=object),
 array([2014, 8, 2, 'Argentina', 5367779.619999999], dtype=object),
 array([2014, 9, 2, 'Argentina', 5618164.720000001], dtype=object),
 array([2014, 10, 2, 'Argentina', 6459935.579999999], dtype=object),
 array([2014, 11, 2, 'Argentina', 6433704.76], dtype=object),
 array([2014, 12, 2, 'Argentina', 5799395.839999999], dtype=object),
 array([2015, 1, 2, 'Argentina', 5899549.88], dtype=object),
 array([2015, 2, 2, 'Argentina', 6045011.699999999], dtype=object),
 array([2015, 3, 2, 'Argentina', 6517166.460000001], dtype=object),
 array([2015, 4, 2, 'Argentina', 6727013.019999999], dtype=object),
 array([2015, 5, 2, 'Argentina', 6040242.46], dtype=object),
 array([2015, 6, 2, 'Argentina', 6865320.979999999], dtype=object),
 array([2015, 7, 2, 'Argentina', 7668937.920000001], dtype=object),
 array([2015, 8, 2, 'Argentina', 6512397.220000002], dtype=object),
 array([2015, 9, 2, 'Argentina', 7041782.859999999], dtype=object),
 array([2015, 10, 2, 'Argentina', 7447168.26], dtype=object),
 array([2015, 11, 2, 'Argentina', 7840630.56], dtype=object),
 array([2015, 12, 2, 'Argentina', 6431320.140000001], dtype=object),
 array([2016, 1, 2, 'Argentina', 7535399.199999999], dtype=object),
 array([2016, 2, 2, 'Argentina', 7318398.779999999], dtype=object),
 array([2016, 3, 2, 'Argentina', 7456706.739999999], dtype=object),
 array([2015, 1, 3, 'Argentina', 126000.0], dtype=object),
 array([2015, 2, 3, 'Argentina', 4180050.0], dtype=object),
 array([2015, 3, 3, 'Argentina', 7437150.0], dtype=object),
 array([2015, 4, 3, 'Argentina', 7626150.0], dtype=object),
 array([2015, 5, 3, 'Argentina', 6189750.0], dtype=object),
 array([2015, 6, 3, 'Argentina', 6611850.0], dtype=object),
 array([2015, 7, 3, 'Argentina', 9405900.0], dtype=object),
 array([2015, 8, 3, 'Argentina', 15353100.0], dtype=object),
 array([2015, 9, 3, 'Argentina', 19533150.0], dtype=object),
 array([2015, 10, 3, 'Argentina', 18515700.0], dtype=object),
 array([2015, 11, 3, 'Argentina', 18802350.0], dtype=object),
 array([2015, 12, 3, 'Argentina', 20257650.0], dtype=object),
 array([2016, 1, 3, 'Argentina', 17375400.0], dtype=object),
 array([2016, 2, 3, 'Argentina', 16280775.0], dtype=object),
 array([2016, 3, 3, 'Argentina', 20441925.0], dtype=object),
 array([2016, 4, 3, 'Argentina', 15893325.0], dtype=object),
 array([2016, 5, 3, 'Argentina', 20074950.0], dtype=object),
 array([2016, 6, 3, 'Argentina', 17676225.0], dtype=object),
 array([2016, 7, 3, 'Argentina', 16461900.0], dtype=object),
 array([2016, 8, 3, 'Argentina', 17821125.0], dtype=object),
 array([2016, 9, 3, 'Argentina', 18586575.0], dtype=object),
 array([2016, 10, 3, 'Argentina', 17909325.0], dtype=object),
 array([2016, 11, 3, 'Argentina', 19826100.0], dtype=object),
 array([2016, 12, 3, 'Argentina', 16550100.0], dtype=object),
 array([2013, 1, 2, 'Belgium', 314850.13], dtype=object),
 array([2013, 2, 2, 'Belgium', 435185.5199999999], dtype=object),
 array([2013, 3, 2, 'Belgium', 268694.08999999997], dtype=object),
 array([2013, 4, 2, 'Belgium', 461560.39999999997], dtype=object),
 array([2013, 5, 2, 'Belgium', 464857.25999999995], dtype=object),
 array([2013, 6, 2, 'Belgium', 403865.35], dtype=object),
 array([2013, 7, 2, 'Belgium', 669262.58], dtype=object),
 array([2013, 8, 2, 'Belgium', 478044.69999999995], dtype=object),
 array([2013, 9, 2, 'Belgium', 550575.62], dtype=object),
 array([2013, 10, 2, 'Belgium', 591786.37], dtype=object),
 array([2013, 11, 2, 'Belgium', 507716.43999999994], dtype=object),
 array([2013, 12, 2, 'Belgium', 558817.7699999999], dtype=object),
 array([2014, 1, 2, 'Belgium', 621458.11], dtype=object),
 array([2014, 2, 2, 'Belgium', 743441.9299999998], dtype=object),
 array([2014, 3, 2, 'Belgium', 565411.49], dtype=object),
 array([2014, 4, 2, 'Belgium', 914878.6500000001], dtype=object),
 array([2014, 5, 2, 'Belgium', 778058.96], dtype=object),
 array([2014, 6, 2, 'Belgium', 555981.9], dtype=object),
 array([2014, 7, 2, 'Belgium', 1213244.4800000002], dtype=object),
 array([2014, 8, 2, 'Belgium', 665965.72], dtype=object),
 array([2014, 9, 2, 'Belgium', 807730.7000000001], dtype=object),
 array([2014, 10, 2, 'Belgium', 809379.1299999999], dtype=object),
 array([2014, 11, 2, 'Belgium', 1078073.2199999997], dtype=object),
 array([2014, 12, 2, 'Belgium', 1160494.7200000002], dtype=object),
 array([2015, 1, 2, 'Belgium', 768168.38], dtype=object),
 array([2015, 2, 2, 'Belgium', 911579.0599999999], dtype=object),
 array([2015, 3, 2, 'Belgium', 1003893.8700000001], dtype=object),
 array([2015, 4, 2, 'Belgium', 1152252.57], dtype=object),
 array([2015, 5, 2, 'Belgium', 974222.1299999999], dtype=object),
 array([2015, 6, 2, 'Belgium', 1130822.98], dtype=object),
 array([2015, 7, 2, 'Belgium', 1368196.9], dtype=object),
 array([2015, 8, 2, 'Belgium', 1213244.48], dtype=object),
 array([2015, 9, 2, 'Belgium', 847293.0199999999], dtype=object),
 array([2015, 10, 2, 'Belgium', 1259400.5199999998], dtype=object),
 array([2015, 11, 2, 'Belgium', 1158546.58], dtype=object),
 array([2015, 12, 2, 'Belgium', 1660268.7199999997], dtype=object),
 array([2013, 1, 1, 'Columbia', 3947356.31], dtype=object),
 array([2013, 2, 1, 'Columbia', 4074073.200000001], dtype=object),
 array([2013, 3, 1, 'Columbia', 4189422.9800000004], dtype=object),
 array([2013, 4, 1, 'Columbia', 4229307.08], dtype=object),
 array([2013, 5, 1, 'Columbia', 4452229.120000001], dtype=object),
 array([2013, 6, 1, 'Columbia', 3873948.16], dtype=object),
 array([2013, 7, 1, 'Columbia', 4214367.52], dtype=object),
 array([2013, 8, 1, 'Columbia', 2928228.91], dtype=object),
 array([2013, 9, 1, 'Columbia', 3488241.6100000003], dtype=object),
 array([2013, 10, 1, 'Columbia', 4262999.85], dtype=object),
 array([2013, 11, 1, 'Columbia', 4043244.66], dtype=object),
 array([2013, 12, 1, 'Columbia', 4002505.91], dtype=object),
 array([2014, 1, 1, 'Columbia', 4066403.75], dtype=object),
 array([2014, 2, 1, 'Columbia', 4513102.85], dtype=object),
 array([2014, 3, 1, 'Columbia', 4553499.02], dtype=object),
 array([2014, 4, 1, 'Columbia', 4356245.43], dtype=object),
 array([2014, 5, 1, 'Columbia', 4841843.13], dtype=object),
 array([2014, 6, 1, 'Columbia', 4556475.91], dtype=object),
 array([2014, 7, 1, 'Columbia', 4807423.76], dtype=object),
 array([2014, 8, 1, 'Columbia', 2945606.8], dtype=object),
 array([2014, 9, 1, 'Columbia', 3645624.6500000004], dtype=object),
 array([2014, 10, 1, 'Columbia', 3579737.26], dtype=object),
 array([2014, 11, 1, 'Columbia', 3270469.2399999998], dtype=object),
 array([2014, 12, 1, 'Columbia', 3497122.76], dtype=object),
 array([2015, 1, 1, 'Columbia', 3714838.12], dtype=object),
 array([2015, 2, 1, 'Columbia', 3586109.1], dtype=object),
 array([2015, 3, 1, 'Columbia', 4634858.58], dtype=object),
 array([2015, 4, 1, 'Columbia', 3937762.9499999997], dtype=object),
 array([2015, 5, 1, 'Columbia', 3645917.15], dtype=object),
 array([2015, 6, 1, 'Columbia', 4283181.399999999], dtype=object),
 array([2015, 7, 1, 'Columbia', 4079098.85], dtype=object),
 array([2015, 8, 1, 'Columbia', 3052256.0500000003], dtype=object),
 array([2015, 9, 1, 'Columbia', 3292214.49], dtype=object),
 array([2015, 10, 1, 'Columbia', 4067910.8499999996], dtype=object),
 array([2015, 11, 1, 'Columbia', 3634705.1], dtype=object),
 array([2015, 12, 1, 'Columbia', 3569022.1500000004], dtype=object),
 array([2016, 1, 1, 'Columbia', 3313485.5999999996], dtype=object),
 array([2016, 2, 1, 'Columbia', 3617369.09], dtype=object),
 array([2016, 3, 1, 'Columbia', 2928867.3400000003], dtype=object),
 array([2013, 1, 2, 'Columbia', 2885137.06], dtype=object),
 array([2013, 2, 2, 'Columbia', 2481817.06], dtype=object),
 array([2013, 3, 2, 'Columbia', 2821691.18], dtype=object),
 array([2013, 4, 2, 'Columbia', 3149451.1799999997], dtype=object),
 array([2013, 5, 2, 'Columbia', 3389234.12], dtype=object),
 array([2013, 6, 2, 'Columbia', 3242034.12], dtype=object),
 array([2013, 7, 2, 'Columbia', 4125885.3000000003], dtype=object),
 array([2013, 8, 2, 'Columbia', 3235200.0], dtype=object),
 array([2013, 9, 2, 'Columbia', 3654834.12], dtype=object),
 array([2013, 10, 2, 'Columbia', 3835446.27], dtype=object),
 array([2013, 11, 2, 'Columbia', 4186034.12], dtype=object),
 array([2013, 12, 2, 'Columbia', 4119051.1799999997], dtype=object),
 array([2014, 1, 2, 'Columbia', 4922331.18], dtype=object),
 array([2014, 2, 2, 'Columbia', 4631622.359999999], dtype=object),
 array([2014, 3, 2, 'Columbia', 4397451.18], dtype=object),
 array([2014, 4, 2, 'Columbia', 5183051.18], dtype=object),
 array([2014, 5, 2, 'Columbia', 5381451.18], dtype=object),
 array([2014, 6, 2, 'Columbia', 5588244.18], dtype=object),
 array([2014, 7, 2, 'Columbia', 5962468.24], dtype=object),
 array([2014, 8, 2, 'Columbia', 5462834.12], dtype=object),
 array([2014, 9, 2, 'Columbia', 5955417.0600000005], dtype=object),
 array([2014, 10, 2, 'Columbia', 6042685.300000001], dtype=object),
 array([2014, 11, 2, 'Columbia', 5634191.99], dtype=object),
 array([2014, 12, 2, 'Columbia', 6198339.1899999995], dtype=object),
 array([2015, 1, 2, 'Columbia', 6766600.0], dtype=object),
 array([2015, 2, 2, 'Columbia', 5803800.0], dtype=object),
 array([2015, 3, 2, 'Columbia', 7220520.0], dtype=object),
 array([2015, 4, 2, 'Columbia', 6347680.0], dtype=object),
 array([2015, 5, 2, 'Columbia', 6298080.0], dtype=object),
 array([2015, 6, 2, 'Columbia', 6897600.0], dtype=object),
 array([2015, 7, 2, 'Columbia', 7364800.0], dtype=object),
 array([2015, 8, 2, 'Columbia', 5960240.140000001], dtype=object),
 array([2015, 9, 2, 'Columbia', 6969600.0], dtype=object),
 array([2015, 10, 2, 'Columbia', 6637040.0], dtype=object),
 array([2015, 11, 2, 'Columbia', 7280000.0], dtype=object),
 array([2015, 12, 2, 'Columbia', 6792000.0], dtype=object),
 array([2016, 1, 2, 'Columbia', 7215200.0], dtype=object),
 array([2016, 2, 2, 'Columbia', 6409600.0], dtype=object),
 array([2016, 3, 2, 'Columbia', 7419560.0], dtype=object),
 array([2015, 1, 3, 'Columbia', 159065.7], dtype=object),
 array([2015, 2, 3, 'Columbia', 213032.10000000003], dtype=object),
 array([2015, 3, 3, 'Columbia', 214405.44999999998], dtype=object),
 array([2015, 4, 3, 'Columbia', 289779.2], dtype=object),
 array([2015, 5, 3, 'Columbia', 269092.14999999997], dtype=object),
 array([2015, 6, 3, 'Columbia', 263377.45], dtype=object),
 array([2015, 7, 3, 'Columbia', 272259.75], dtype=object),
 array([2015, 8, 3, 'Columbia', 184946.75], dtype=object),
 array([2015, 9, 3, 'Columbia', 239002.09999999998], dtype=object),
 array([2015, 10, 3, 'Columbia', 276301.69999999995], dtype=object),
 array([2015, 11, 3, 'Columbia', 187704.3], dtype=object),
 array([2015, 12, 3, 'Columbia', 282780.1], dtype=object),
 array([2016, 1, 3, 'Columbia', 253521.0], dtype=object),
 array([2016, 2, 3, 'Columbia', 228392.80000000002], dtype=object),
 array([2016, 3, 3, 'Columbia', 930756.55], dtype=object),
 array([2016, 4, 3, 'Columbia', 2065856.85], dtype=object),
 array([2016, 5, 3, 'Columbia', 1806626.7999999998], dtype=object),
 array([2016, 6, 3, 'Columbia', 2587822.25], dtype=object),
 array([2016, 7, 3, 'Columbia', 2790065.35], dtype=object),
 array([2016, 8, 3, 'Columbia', 2781916.0], dtype=object),
 array([2016, 9, 3, 'Columbia', 3572224.0999999996], dtype=object),
 array([2016, 10, 3, 'Columbia', 3196697.4000000004], dtype=object),
 array([2016, 11, 3, 'Columbia', 4263236.550000001], dtype=object),
 array([2016, 12, 3, 'Columbia', 4351764.899999999], dtype=object),
 array([2013, 1, 2, 'Denmark', 101847627.11000001], dtype=object),
 array([2013, 2, 2, 'Denmark', 84457811.39000002], dtype=object),
 array([2013, 3, 2, 'Denmark', 89156080.59], dtype=object),
 array([2013, 4, 2, 'Denmark', 99166393.86], dtype=object),
 array([2013, 5, 2, 'Denmark', 106042169.94], dtype=object),
 array([2013, 6, 2, 'Denmark', 87189457.28999999], dtype=object),
 array([2013, 7, 2, 'Denmark', 116561149.95], dtype=object),
 array([2013, 8, 2, 'Denmark', 92379616.28999999], dtype=object),
 array([2013, 9, 2, 'Denmark', 95225689.94999999], dtype=object),
 array([2013, 10, 2, 'Denmark', 105367408.33], dtype=object),
 array([2013, 11, 2, 'Denmark', 97483901.26], dtype=object),
 array([2013, 12, 2, 'Denmark', 79520089.65], dtype=object),
 array([2014, 1, 2, 'Denmark', 126116161.89], dtype=object),
 array([2014, 2, 2, 'Denmark', 87533652.84], dtype=object),
 array([2014, 3, 2, 'Denmark', 100151949.33], dtype=object),
 array([2014, 4, 2, 'Denmark', 102353411.01], dtype=object),
 array([2014, 5, 2, 'Denmark', 103370491.37], dtype=object),
 array([2014, 6, 2, 'Denmark', 122201643.59], dtype=object),
 array([2014, 7, 2, 'Denmark', 135022315.76], dtype=object),
 array([2014, 8, 2, 'Denmark', 118334140.36999999], dtype=object),
 array([2014, 9, 2, 'Denmark', 131133133.59], dtype=object),
 array([2014, 10, 2, 'Denmark', 136919977.97], dtype=object),
 array([2014, 11, 2, 'Denmark', 118431661.66999999], dtype=object),
 array([2014, 12, 2, 'Denmark', 143531544.70999998], dtype=object),
 array([2015, 1, 2, 'Denmark', 133856392.86000001], dtype=object),
 array([2015, 2, 2, 'Denmark', 124109535.33], dtype=object),
 array([2015, 3, 2, 'Denmark', 155846791.86], dtype=object),
 array([2015, 4, 2, 'Denmark', 155810968.54], dtype=object),
 array([2015, 5, 2, 'Denmark', 137113400.57], dtype=object),
 array([2015, 6, 2, 'Denmark', 190104748.79000002], dtype=object),
 array([2015, 7, 2, 'Denmark', 127425823.2], dtype=object),
 array([2015, 8, 2, 'Denmark', 170660459.11], dtype=object),
 array([2015, 9, 2, 'Denmark', 177181292.14999998], dtype=object),
 array([2015, 10, 2, 'Denmark', 162617201.82], dtype=object),
 array([2015, 11, 2, 'Denmark', 171598330.34000003], dtype=object),
 array([2015, 12, 2, 'Denmark', 199093884.00000003], dtype=object),
 array([2016, 1, 2, 'Denmark', 126197283.95], dtype=object),
 array([2016, 2, 2, 'Denmark', 176268459.04000002], dtype=object),
 array([2016, 3, 2, 'Denmark', 195700752.63], dtype=object),
 array([2013, 1, 5, 'England', 462370.62], dtype=object),
 array([2013, 2, 5, 'England', 414931.1599999999], dtype=object),
 array([2013, 3, 5, 'England', 439883.54], dtype=object),
 array([2013, 4, 5, 'England', 505948.04], dtype=object),
 array([2013, 5, 5, 'England', 491075.37999999995], dtype=object),
 array([2013, 6, 5, 'England', 552209.82], dtype=object),
 array([2013, 7, 5, 'England', 470790.4200000001], dtype=object),
 array([2013, 8, 5, 'England', 413424.57999999996], dtype=object),
 array([2013, 9, 5, 'England', 476038.31000000006], dtype=object),
 array([2013, 10, 5, 'England', 509437.65], dtype=object),
 array([2013, 11, 5, 'England', 578558.98], dtype=object),
 array([2013, 12, 5, 'England', 587159.36], dtype=object),
 array([2014, 1, 5, 'England', 459686.3900000001], dtype=object),
 array([2014, 2, 5, 'England', 469574.23999999993], dtype=object),
 array([2014, 3, 5, 'England', 525422.52], dtype=object),
 array([2014, 4, 5, 'England', 556099.15], dtype=object),
 array([2014, 5, 5, 'England', 556564.83], dtype=object),
 array([2014, 6, 5, 'England', 527586.13], dtype=object),
 array([2014, 7, 5, 'England', 634160.66], dtype=object),
 array([2014, 8, 5, 'England', 469765.9600000001], dtype=object),
 array([2014, 9, 5, 'England', 556789.4500000001], dtype=object),
 array([2014, 10, 5, 'England', 555016.0300000001], dtype=object),
 array([2014, 11, 5, 'England', 702080.27], dtype=object),
 array([2014, 12, 5, 'England', 702025.84], dtype=object),
 array([2015, 1, 5, 'England', 625523.23], dtype=object),
 array([2015, 2, 5, 'England', 520297.16000000003], dtype=object),
 array([2015, 3, 5, 'England', 644014.48], dtype=object),
 array([2015, 4, 5, 'England', 700804.34], dtype=object),
 array([2015, 5, 5, 'England', 561857.78], dtype=object),
 array([2015, 6, 5, 'England', 632909.8], dtype=object),
 array([2015, 7, 5, 'England', 758260.1099999999], dtype=object),
 array([2015, 8, 5, 'England', 465606.5300000001], dtype=object),
 array([2015, 9, 5, 'England', 627134.7200000001], dtype=object),
 array([2015, 10, 5, 'England', 624252.6799999999], dtype=object),
 array([2013, 1, 4, 'England', 166907.57000000004], dtype=object),
 array([2013, 2, 4, 'England', 140685.22], dtype=object),
 array([2013, 3, 4, 'England', 159316.90000000002], dtype=object),
 array([2013, 4, 4, 'England', 179295.94999999998], dtype=object),
 array([2013, 5, 4, 'England', 175741.65000000002], dtype=object),

In [59]:
mylist3 = np.asarray(mylist2)
mylist_df = pd.DataFrame(mylist3,columns=['Year','Month','Product_Type','Country','Sales'])
mylist_df

     Year Month Product_Type    Country        Sales
0    2013     1            1  Argentina   3.4346e+07
1    2013     2            1  Argentina  3.20056e+07
2    2013     3            1  Argentina  3.25300e+07
3    2013     4            1  Argentina  3.55887e+07
4    2013     5            1  Argentina  3.87891e+07
5    2013     6            1  Argentina  3.61966e+07
6    2013     7            1  Argentina  3.71338e+07
7    2013     8            1  Argentina  3.53115e+07
8    2013     9            1  Argentina  3.84379e+07
9    2013    10            1  Argentina  4.43977e+07
10   2013    11            1  Argentina  4.55254e+07
11   2013    12            1  Argentina  3.36105e+07
12   2014     1            1  Argentina  4.46008e+07
13   2014     2            1  Argentina  4.15627e+07
14   2014     3            1  Argentina  3.69574e+07
15   2014     4            1  Argentina   4.3448e+07
16   2014     5            1  Argentina  4.08634e+07
17   2014     6            1  Argentina  4.03767e+07
18   2014     7            1  Argentina   4.3459e+07
19   2014     8            1  Argentina  4.13028e+07
20   2014     9            1  Argentina  4.37834e+07
21   2014    10            1  Argentina  4.37771e+07
22   2014    11            1  Argentina  4.23754e+07
23   2014    12            1  Argentina  4.42433e+07
24   2015     1            1  Argentina  4.65806e+07
25   2015     2            1  Argentina  3.30687e+07
26   2015     3            1  Argentina  3.78646e+07
27   2015     4            1  Argentina  3.51367e+07
28   2015     5            1  Argentina  3.55651e+07
29   2015     6            1  Argentina  4.17564e+07
..    ...   ...          ...        ...          ...
351  2013     5            4    Finland  3.29423e+07
352  2013     6            4    Finland  1.91559e+07
353  2013     7            4    Finland  2.71801e+07
354  2013     8            4    Finland  2.74926e+07
355  2013     9            4    Finland  3.39012e+07
356  2013    10            4    Finland   3.0053e+07
357  2013    11            4    Finland  3.73282e+07
358  2013    12            4    Finland  2.58992e+07
359  2014     1            4    Finland  2.84684e+07
360  2014     2            4    Finland  1.82185e+07
361  2014     3            4    Finland  3.98389e+07
362  2014     4            4    Finland  3.31585e+07
363  2014     5            4    Finland  2.38013e+07
364  2014     6            4    Finland  2.78953e+07
365  2014     7            4    Finland  3.01431e+07
366  2014     8            4    Finland  2.66335e+07
367  2014     9            4    Finland    3.802e+07
368  2014    10            4    Finland  2.36725e+07
369  2014    11            4    Finland  2.52172e+07
370  2014    12            4    Finland  3.01691e+07
371  2015     1            4    Finland  3.07064e+07
372  2015     2            4    Finland  5.01139e+07
373  2015     3            4    Finland  9.04492e+06
374  2015     4            4    Finland  3.10672e+07
375  2015     5            4    Finland  2.44465e+07
376  2015     6            4    Finland  3.19318e+07
377  2015     7            4    Finland  2.82871e+07
378  2015     8            4    Finland  2.87651e+07
379  2015     9            4    Finland  2.88178e+07
380  2015    10            4    Finland  3.12688e+07

[381 rows x 5 columns]

In [43]:
import pandas as pd

In [44]:
ds = pd.read_csv('promotional_expense.csv')
ds.head()

   Year  Month    Country  Product_Type  Expense_Price
0  2013      1  Argentina             1      14749.307
1  2013      1  Argentina             2       1329.374
2  2013      1    Belgium             2        249.590
3  2013      1   Columbia             1       1893.122
4  2013      1   Columbia             2       1436.726

In [61]:
b = ds.loc[(ds['Country']=='Argentina')&(ds['Product_Type']==1)&(ds['Year']<2016)]
# # c = ds.loc[(ds['Country']=='Argentina')&(ds['Product_Type']==2)&(ds['Year']<2016)]
# d = ds.loc[(ds['Country']=='Argentina')&(ds['Product_Type']==2)]
# d
b
# ans = b['Expense_Price'].values.reshape((-1,1))
# ans

     Year  Month    Country  Product_Type  Expense_Price
0    2013      1  Argentina             1      14749.307
6    2013      2  Argentina             1      12187.566
12   2013      3  Argentina             1      13076.579
18   2013      4  Argentina             1      14377.199
24   2013      5  Argentina             1      15652.861
30   2013      6  Argentina             1      11718.545
36   2013      7  Argentina             1      14144.888
42   2013      8  Argentina             1      12839.791
48   2013      9  Argentina             1      10788.309
54   2013     10  Argentina             1      16108.134
60   2013     11  Argentina             1      16242.067
66   2013     12  Argentina             1      11144.301
72   2014      1  Argentina             1      15316.880
78   2014      2  Argentina             1      14746.595
84   2014      3  Argentina             1      12998.792
90   2014      4  Argentina             1      15235.335
96   2014      5  Argentina             1      14499.779
102  2014      6  Argentina             1      13593.151
108  2014      7  Argentina             1      15204.593
114  2014      8  Argentina             1      13292.384
120  2014      9  Argentina             1      15306.694
126  2014     10  Argentina             1      14815.265
132  2014     11  Argentina             1      14102.804
138  2014     12  Argentina             1      16190.614
144  2015      1  Argentina             1      16242.659
150  2015      2  Argentina             1      12136.229
156  2015      3  Argentina             1      16330.077
162  2015      4  Argentina             1      14901.627
168  2015      5  Argentina             1      15056.339
174  2015      6  Argentina             1      19631.652
180  2015      7  Argentina             1      13289.789
186  2015      8  Argentina             1      14762.316
192  2015      9  Argentina             1      14722.833
198  2015     10  Argentina             1      13491.587
204  2015     11  Argentina             1      14529.224
210  2015     12  Argentina             1      13106.782

In [66]:
mylist_df.loc[(mylist_df['Year']==2015)&(mylist_df['Month']==6)&(mylist_df['Country']=='Argentina')&(mylist_df['Product_Type']==1)]['Sales'].values

array([41756400.0], dtype=object)

In [8]:
ds.shape

(435, 5)

In [75]:
for index,row in ds.iterrows():
    year = row['Year']
    month = row['Month']
    c = row['Country']
    p_ty = row['Product_Type']
    expense = row['Expense_Price']
    try:
        mylist_df.loc[(mylist_df['Year']==year)&(mylist_df['Month']==month)&(mylist_df['Country']==c)&(mylist_df['Product_Type']==p_ty),'Sales']-=expense
    except AttributeError:
        pass
mylist_df

     Year Month Product_Type    Country        Sales
0    2013     1            1  Argentina  3.43313e+07
1    2013     2            1  Argentina  3.19934e+07
2    2013     3            1  Argentina   3.2517e+07
3    2013     4            1  Argentina  3.55743e+07
4    2013     5            1  Argentina  3.87734e+07
5    2013     6            1  Argentina  3.61849e+07
6    2013     7            1  Argentina  3.71196e+07
7    2013     8            1  Argentina  3.52987e+07
8    2013     9            1  Argentina  3.84271e+07
9    2013    10            1  Argentina  4.43816e+07
10   2013    11            1  Argentina  4.55091e+07
11   2013    12            1  Argentina  3.35994e+07
12   2014     1            1  Argentina  4.45855e+07
13   2014     2            1  Argentina  4.15479e+07
14   2014     3            1  Argentina  3.69444e+07
15   2014     4            1  Argentina  4.34327e+07
16   2014     5            1  Argentina  4.08489e+07
17   2014     6            1  Argentina  4.03631e+07
18   2014     7            1  Argentina  4.34438e+07
19   2014     8            1  Argentina  4.12895e+07
20   2014     9            1  Argentina  4.37681e+07
21   2014    10            1  Argentina  4.37623e+07
22   2014    11            1  Argentina  4.23613e+07
23   2014    12            1  Argentina  4.42271e+07
24   2015     1            1  Argentina  4.65644e+07
25   2015     2            1  Argentina  3.30566e+07
26   2015     3            1  Argentina  3.78482e+07
27   2015     4            1  Argentina  3.51218e+07
28   2015     5            1  Argentina    3.555e+07
29   2015     6            1  Argentina  4.17368e+07
..    ...   ...          ...        ...          ...
351  2013     5            4    Finland  3.29408e+07
352  2013     6            4    Finland   1.9155e+07
353  2013     7            4    Finland  2.71788e+07
354  2013     8            4    Finland  2.74913e+07
355  2013     9            4    Finland  3.38997e+07
356  2013    10            4    Finland  3.00516e+07
357  2013    11            4    Finland  3.73265e+07
358  2013    12            4    Finland   2.5898e+07
359  2014     1            4    Finland  2.84671e+07
360  2014     2            4    Finland  1.82176e+07
361  2014     3            4    Finland  3.98373e+07
362  2014     4            4    Finland   3.3157e+07
363  2014     5            4    Finland  2.38002e+07
364  2014     6            4    Finland  2.78939e+07
365  2014     7            4    Finland  3.01418e+07
366  2014     8            4    Finland  2.66323e+07
367  2014     9            4    Finland  3.80183e+07
368  2014    10            4    Finland  2.36714e+07
369  2014    11            4    Finland   2.5216e+07
370  2014    12            4    Finland  3.01677e+07
371  2015     1            4    Finland   3.0705e+07
372  2015     2            4    Finland  5.01127e+07
373  2015     3            4    Finland  9.04333e+06
374  2015     4            4    Finland  3.10658e+07
375  2015     5            4    Finland  2.44453e+07
376  2015     6            4    Finland  3.19303e+07
377  2015     7            4    Finland  2.82858e+07
378  2015     8            4    Finland  2.87638e+07
379  2015     9            4    Finland  2.88164e+07
380  2015    10            4    Finland  3.12674e+07

[381 rows x 5 columns]

In [77]:
mylist_df.to_csv('final_train_data.csv')