In [106]:
import numpy as np
import pandas as pd

In [107]:
from sklearn.linear_model import LinearRegression
from sklearn.utils import shuffle

In [108]:
import matplotlib.pyplot as plt
%matplotlib inline

In [109]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [110]:
data = pd.read_csv('final_train_data.csv')

In [111]:
data

     Year  Month  Product_Type    Country        Sales
0    2013      1             1  Argentina 34331275.690
1    2013      2             1  Argentina 31993387.430
2    2013      3             1  Argentina 32516973.420
3    2013      4             1  Argentina 35574322.800
4    2013      5             1  Argentina 38773447.140
5    2013      6             1  Argentina 36184931.460
6    2013      7             1  Argentina 37119630.110
7    2013      8             1  Argentina 35298660.210
8    2013      9             1  Argentina 38427086.690
9    2013     10             1  Argentina 44381566.870
10   2013     11             1  Argentina 45509132.930
11   2013     12             1  Argentina 33599355.700
12   2014      1             1  Argentina 44585533.120
13   2014      2             1  Argentina 41547928.410
14   2014      3             1  Argentina 36944376.210
15   2014      4             1  Argentina 43432714.670
16   2014      5             1  Argentina 40848875.220
17   2014      6             1  Argentina 40363106.850
18   2014      7             1  Argentina 43443770.410
19   2014      8             1  Argentina 41289507.620
20   2014      9             1  Argentina 43768118.310
21   2014     10             1  Argentina 43762309.740
22   2014     11             1  Argentina 42361272.200
23   2014     12             1  Argentina 44227134.390
24   2015      1             1  Argentina 46564382.340
25   2015      2             1  Argentina 33056563.770
26   2015      3             1  Argentina 37848244.920
27   2015      4             1  Argentina 35121773.370
28   2015      5             1  Argentina 35550018.660
29   2015      6             1  Argentina 41736768.350
..    ...    ...           ...        ...          ...
351  2013      5             4    Finland 32940767.620
352  2013      6             4    Finland 19155012.360
353  2013      7             4    Finland 27178826.610
354  2013      8             4    Finland 27491286.020
355  2013      9             4    Finland 33899662.990
356  2013     10             4    Finland 30051588.950
357  2013     11             4    Finland 37326537.520
358  2013     12             4    Finland 25898001.130
359  2014      1             4    Finland 28467099.010
360  2014      2             4    Finland 18217629.800
361  2014      3             4    Finland 39837318.300
362  2014      4             4    Finland 33156979.510
363  2014      5             4    Finland 23800179.550
364  2014      6             4    Finland 27893914.370
365  2014      7             4    Finland 30141752.850
366  2014      8             4    Finland 26632281.690
367  2014      9             4    Finland 38018260.330
368  2014     10             4    Finland 23671372.670
369  2014     11             4    Finland 25216033.610
370  2014     12             4    Finland 30167668.740
371  2015      1             4    Finland 30704955.920
372  2015      2             4    Finland 50112719.410
373  2015      3             4    Finland  9043334.911
374  2015      4             4    Finland 31065785.700
375  2015      5             4    Finland 24445319.240
376  2015      6             4    Finland 31930259.180
377  2015      7             4    Finland 28285792.540
378  2015      8             4    Finland 28763780.620
379  2015      9             4    Finland 28816444.570
380  2015     10             4    Finland 31267369.800

[381 rows x 5 columns]

In [112]:
countries = np.unique(data['Country'])

In [113]:
country_map = {
                'Argentina':0,
                'Belgium':1,
                'Columbia':2,
                'Denmark':3,
                'England':4,
                'Finland':5 }

In [114]:
data.Country = data.Country.map(country_map)
data = shuffle(data)
data

     Year  Month  Product_Type  Country         Sales
316  2013      4             4        4    179106.909
73   2015     11             2        0   7837190.591
228  2016      1             3        2    253521.000
337  2015      1             4        4    195012.865
207  2015      7             2        2   7361290.552
209  2015      9             2        2   6966275.478
300  2014     10             5        4    554638.882
6    2013      7             1        0  37119630.110
45   2013      7             2        0   3789732.854
31   2015      8             1        0  23877987.680
35   2015     12             1        0  14990343.220
247  2013      8             2        3  92339172.190
238  2016     11             3        2   4263236.550
125  2014     12             2        1   1159913.034
328  2014      4             4        4    181718.924
242  2013      3             2        3  89115805.960
128  2015      3             2        1   1003358.955
234  2016      7             3        2   2790065.350
311  2015      9             5        4    626752.834
32   2015      9             1        0  24900202.170
336  2014     12             4        4    190301.116
291  2014      1             5        4    459358.723
282  2013      4             5        4    505595.955
256  2014      5             2        3 103325173.200
233  2016      6             3        2   2587822.250
164  2015      3             1        2   4632724.690
178  2013      2             2        2   2480566.224
97   2016      8             3        0  17821125.000
182  2013      6             2        2   3240432.850
83   2015      6             3        0   6611850.000
..    ...    ...           ...      ...           ...
59   2014      9             2        0   5615625.486
144  2013      7             1        2   4212434.251
290  2013     12             5        4    586766.442
118  2014      5             2        1    777587.871
51   2014      1             2        0   4819482.871
152  2014      3             1        2   4551307.152
41   2013      3             2        0   2571812.325
240  2013      1             2        3 101803783.200
227  2015     12             3        2    282780.100
368  2014     10             4        5  23671372.670
213  2016      1             2        2   7211764.375
1    2013      2             1        0  31993387.430
183  2013      7             2        2   4123881.877
226  2015     11             3        2    187704.300
61   2014     11             2        0   6430820.982
64   2015      2             2        0   6042489.493
366  2014      8             4        5  26632281.690
76   2016      2             2        0   7315336.277
113  2013     12             2        1    558448.502
265  2015      2             2        3 124063230.400
157  2014      8             1        2   2944263.474
81   2015      4             3        0   7626150.000
344  2015      8             4        4    117375.138
135  2015     10             2        1   1258708.855
224  2015      9             3        2    239002.100
326  2014      2             4        4    144446.911
86   2015      9             3        0  19533150.000
218  2015      3             3        2    214405.450
301  2014     11             5        4    701630.099
289  2013     11             5        4    578172.078

[381 rows x 5 columns]

In [115]:
X = data.drop('Sales',axis = 1)
Y = data['Sales']
X.shape, Y.shape

((381, 4), (381,))

# Linear Regression

In [116]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
lm.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
lm.score(X,Y)

0.19652084627263589

In [122]:
test_df = pd.read_csv('yds_test2018.csv')
test_df.drop('S_No',axis=1,inplace=True)

In [123]:
test_df

     Year  Month  Product_ID    Country  Sales
0    2016      4           1  Argentina    nan
1    2016      5           1  Argentina    nan
2    2016      6           1  Argentina    nan
3    2016      7           1  Argentina    nan
4    2016      8           1  Argentina    nan
5    2016      9           1  Argentina    nan
6    2016     10           1  Argentina    nan
7    2016     11           1  Argentina    nan
8    2016     12           1  Argentina    nan
9    2017      1           1  Argentina    nan
10   2017      2           1  Argentina    nan
11   2017      3           1  Argentina    nan
12   2016      4           2  Argentina    nan
13   2016      5           2  Argentina    nan
14   2016      6           2  Argentina    nan
15   2016      7           2  Argentina    nan
16   2016      8           2  Argentina    nan
17   2016      9           2  Argentina    nan
18   2016     10           2  Argentina    nan
19   2016     11           2  Argentina    nan
20   2016     12           2  Argentina    nan
21   2017      1           2  Argentina    nan
22   2017      2           2  Argentina    nan
23   2017      3           2  Argentina    nan
24   2017      1           3  Argentina    nan
25   2017      2           3  Argentina    nan
26   2017      3           3  Argentina    nan
27   2016      4           2    Belgium    nan
28   2016      5           2    Belgium    nan
29   2016      6           2    Belgium    nan
..    ...    ...         ...        ...    ...
75   2017      1           2    Denmark    nan
76   2017      2           2    Denmark    nan
77   2017      3           2    Denmark    nan
78   2015     11           5    England    nan
79   2015     12           5    England    nan
80   2016      1           5    England    nan
81   2016      2           5    England    nan
82   2016      3           5    England    nan
83   2016      4           5    England    nan
84   2016      5           5    England    nan
85   2016      6           5    England    nan
86   2016      7           5    England    nan
87   2015     11           4    England    nan
88   2015     12           4    England    nan
89   2016      1           4    England    nan
90   2016      2           4    England    nan
91   2016      3           4    England    nan
92   2016      4           4    England    nan
93   2016      5           4    England    nan
94   2016      6           4    England    nan
95   2016      7           4    England    nan
96   2015     11           4    Finland    nan
97   2015     12           4    Finland    nan
98   2016      1           4    Finland    nan
99   2016      2           4    Finland    nan
100  2016      3           4    Finland    nan
101  2016      4           4    Finland    nan
102  2016      5           4    Finland    nan
103  2016      6           4    Finland    nan
104  2016      7           4    Finland    nan

[105 rows x 5 columns]

In [124]:
test_df.Country = test_df.Country.map(country_map)
test_df

     Year  Month  Product_ID  Country  Sales
0    2016      4           1        0    nan
1    2016      5           1        0    nan
2    2016      6           1        0    nan
3    2016      7           1        0    nan
4    2016      8           1        0    nan
5    2016      9           1        0    nan
6    2016     10           1        0    nan
7    2016     11           1        0    nan
8    2016     12           1        0    nan
9    2017      1           1        0    nan
10   2017      2           1        0    nan
11   2017      3           1        0    nan
12   2016      4           2        0    nan
13   2016      5           2        0    nan
14   2016      6           2        0    nan
15   2016      7           2        0    nan
16   2016      8           2        0    nan
17   2016      9           2        0    nan
18   2016     10           2        0    nan
19   2016     11           2        0    nan
20   2016     12           2        0    nan
21   2017      1           2        0    nan
22   2017      2           2        0    nan
23   2017      3           2        0    nan
24   2017      1           3        0    nan
25   2017      2           3        0    nan
26   2017      3           3        0    nan
27   2016      4           2        1    nan
28   2016      5           2        1    nan
29   2016      6           2        1    nan
..    ...    ...         ...      ...    ...
75   2017      1           2        3    nan
76   2017      2           2        3    nan
77   2017      3           2        3    nan
78   2015     11           5        4    nan
79   2015     12           5        4    nan
80   2016      1           5        4    nan
81   2016      2           5        4    nan
82   2016      3           5        4    nan
83   2016      4           5        4    nan
84   2016      5           5        4    nan
85   2016      6           5        4    nan
86   2016      7           5        4    nan
87   2015     11           4        4    nan
88   2015     12           4        4    nan
89   2016      1           4        4    nan
90   2016      2           4        4    nan
91   2016      3           4        4    nan
92   2016      4           4        4    nan
93   2016      5           4        4    nan
94   2016      6           4        4    nan
95   2016      7           4        4    nan
96   2015     11           4        5    nan
97   2015     12           4        5    nan
98   2016      1           4        5    nan
99   2016      2           4        5    nan
100  2016      3           4        5    nan
101  2016      4           4        5    nan
102  2016      5           4        5    nan
103  2016      6           4        5    nan
104  2016      7           4        5    nan

[105 rows x 5 columns]

In [125]:
X_test = test_df.drop('Sales',axis=1)
X_test.shape

(105, 4)

In [126]:
predictions = lm.predict(X_test)
predictions

array([30393555.39312553, 30949871.11521912, 31506186.8373127 ,
       32062502.55940628, 32618818.28149986, 33175134.00359344,
       33731449.72568512, 34287765.4477787 , 34844081.16987228,
       33955309.024683  , 34511624.74677658, 35067940.46887016,
       12031636.80641556, 12587952.52850914, 13144268.25060272,
       13700583.9726963 , 14256899.69478989, 14813215.41688347,
       15369531.13897514, 15925846.86106873, 16482162.58316231,
       15593390.43797302, 16149706.1600666 , 16706021.88216019,
       -2768528.14873695, -2212212.42664337, -1655896.70454979,
       25516808.26662636, 26073123.98871994, 26629439.71081352,
       27185755.4329071 , 27742071.15500069, 28298386.87709427,
       28854702.59918594, 29411018.32127953, 29967334.04337311,
       29078561.89818382, 29634877.6202774 , 30191193.34236908,
       57363898.31354713, 57920214.03564072, 58476529.7577343 ,
       59032845.47982788, 59589161.20192146, 60145476.92401314,
       60701792.64610672, 61258108.3682003 , 61814424.09029388,
       60925651.9451046 , 61481967.66719818, 62038283.38928986,
       39001979.72683716, 39558295.44893074, 40114611.17102432,
       40670926.8931179 , 41227242.61521149, 41783558.33730316,
       42339874.05939674, 42896189.78149033, 43452505.50358391,
       42563733.35839462, 43120049.0804882 , 43676364.80257988,
       24201814.77168465, 24758130.49377823, 25314446.2158699 ,
       52487151.18704796, 53043466.90914154, 53599782.63123512,
       54156098.3533287 , 54712414.07542229, 55268729.79751396,
       55825045.51960754, 56381361.24170113, 56937676.96379471,
       56048904.81860542, 56605220.5406971 , 57161536.26279068,
        9550076.1439476 , 10106391.86604118,  9217619.7208519 ,
        9773935.44294357, 10330251.16503716, 10886566.88713074,
       11442882.60922432, 11999198.3313179 , 12555514.05341148,
       27911994.73065758, 28468310.45275116, 27579538.30756187,
       28135854.02965355, 28692169.75174713, 29248485.47384071,
       29804801.1959343 , 30361116.91802788, 30917432.64012146,
       41397166.19086838, 41953481.91296196, 41064709.76777077,
       41621025.48986435, 42177341.21195793, 42733656.93405151,
       43289972.6561451 , 43846288.37823868, 44402604.10033226])

In [127]:
test_df['Sales']=predictions
test_df

     Year  Month  Product_ID  Country        Sales
0    2016      4           1        0 30393555.393
1    2016      5           1        0 30949871.115
2    2016      6           1        0 31506186.837
3    2016      7           1        0 32062502.559
4    2016      8           1        0 32618818.281
5    2016      9           1        0 33175134.004
6    2016     10           1        0 33731449.726
7    2016     11           1        0 34287765.448
8    2016     12           1        0 34844081.170
9    2017      1           1        0 33955309.025
10   2017      2           1        0 34511624.747
11   2017      3           1        0 35067940.469
12   2016      4           2        0 12031636.806
13   2016      5           2        0 12587952.529
14   2016      6           2        0 13144268.251
15   2016      7           2        0 13700583.973
16   2016      8           2        0 14256899.695
17   2016      9           2        0 14813215.417
18   2016     10           2        0 15369531.139
19   2016     11           2        0 15925846.861
20   2016     12           2        0 16482162.583
21   2017      1           2        0 15593390.438
22   2017      2           2        0 16149706.160
23   2017      3           2        0 16706021.882
24   2017      1           3        0 -2768528.149
25   2017      2           3        0 -2212212.427
26   2017      3           3        0 -1655896.705
27   2016      4           2        1 25516808.267
28   2016      5           2        1 26073123.989
29   2016      6           2        1 26629439.711
..    ...    ...         ...      ...          ...
75   2017      1           2        3 56048904.819
76   2017      2           2        3 56605220.541
77   2017      3           2        3 57161536.263
78   2015     11           5        4  9550076.144
79   2015     12           5        4 10106391.866
80   2016      1           5        4  9217619.721
81   2016      2           5        4  9773935.443
82   2016      3           5        4 10330251.165
83   2016      4           5        4 10886566.887
84   2016      5           5        4 11442882.609
85   2016      6           5        4 11999198.331
86   2016      7           5        4 12555514.053
87   2015     11           4        4 27911994.731
88   2015     12           4        4 28468310.453
89   2016      1           4        4 27579538.308
90   2016      2           4        4 28135854.030
91   2016      3           4        4 28692169.752
92   2016      4           4        4 29248485.474
93   2016      5           4        4 29804801.196
94   2016      6           4        4 30361116.918
95   2016      7           4        4 30917432.640
96   2015     11           4        5 41397166.191
97   2015     12           4        5 41953481.913
98   2016      1           4        5 41064709.768
99   2016      2           4        5 41621025.490
100  2016      3           4        5 42177341.212
101  2016      4           4        5 42733656.934
102  2016      5           4        5 43289972.656
103  2016      6           4        5 43846288.378
104  2016      7           4        5 44402604.100

[105 rows x 5 columns]

In [128]:
test_df.to_csv('Linear_Regression_predictions.csv')

In [134]:
import pickle

In [135]:
filename = 'finalized_model.sav'
pickle.dump(lm, open(filename, 'wb'))

In [ ]:
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))